Repository cosyBear/bandit-games_: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_friends, build_library, test_friends, test_library

.gitlab-ci.yml:

image: gradle:8.1-jdk17

before_script:
  - GRADLE_USER_HOME="$(pwd)/.gradle"
  - export GRADLE_USER_HOME

stages:
  - build
  - test

cache:
  key: "$CI_PROJECT_NAME"
  paths:
    - .gradle/caches/
    - gradle/wrapper/

build:
  stage: build
  script:
    - gradle --no-daemon --build-cache --parallel assemble
  artifacts:
    paths:
      - application/build/libs/*.jar
      - friends/build/libs/*.jar
      - library/build/libs/*.jar
      - common/build/libs/*.jar
    when: always

build_friends:
  stage: build
  script:
    - gradle :friends:assemble
  artifacts:
    paths:
      - friends/build/libs/*.jar
    when: always
  rules:
    - changes:
        - friends/**

build_library:
  stage: build
  script:
    - gradle :library:assemble
  artifacts:
    paths:
      - library/build/libs/*.jar
    when: always
  rules:
    - changes:
        - library/**

test:
  stage: test
  script:
    - gradle --no-daemon check
  artifacts:
    when: always
    reports:
      junit: build/test-results/test/**/TEST-*.xml
    paths:
      - build/reports/jacoco/test/html/

test_friends:
  stage: test
  script:
    - gradle :friends:test
  artifacts:
    when: always
    reports:
      junit: build/test-results/test/**/TEST-*.xml
    paths:
      - build/reports/jacoco/test/html/
  rules:
    - changes:
        - friends/**

test_library:
  stage: test
  script:
    - gradle :library:test
  artifacts:
    when: always
    reports:
      junit: build/test-results/test/**/TEST-*.xml
    paths:
      - build/reports/jacoco/test/html/
  rules:
    - changes:
        - library/**

change in library context
  library/src/main/java/be/kdg/prog6/boundedcontextA/adapters/in/LibraryRestController.java
Due: none

updated gitlab-ci
  .gitlab-ci.yml
  .idea/uiDesigner.xml
Due: none

updated gitlab-ci
  .gitlab-ci.yml
Due: none

change in library context
  friends/src/main/java/be/kdg/prog6/boundedcontextB/adapters/in/BRestController.java
  library/src/main/java/be/kdg/prog6/boundedcontextA/adapters/in/LibraryRestController.java
Due: none

change in library context and friends
  friends/src/main/java/be/kdg/prog6/boundedcontextB/adapters/in/BRestController.java
  library/src/main/java/be/kdg/prog6/boundedcontextA/adapters/in/LibraryRestController.java
Due: none

change in friends context
  .gitlab-ci.yml
  friends/src/main/java/be/kdg/prog6/boundedcontextB/adapters/in/BRestController.java
Due: none

update ci pipeline
  .gitlab-ci.yml
  .idea/gradle.xml
  .idea/misc.xml
Due: none

update ci pipeline
  .gitlab-ci.yml
Due: none

update ci pipeline
  friends/build.gradle
Due: build_friends, test_friends

added test coverage
  .gitlab-ci.yml
Due: none

added test coverage
  .gitlab-ci.yml
  friends/build.gradle
Due: build_friends, test_friends

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

added test coverage
  friends/build.gradle
Due: build_friends, test_friends

update ci pipeline
  .gitlab-ci.yml
  friends/build.gradle
Due: build_friends, test_friends

doing test and refactoring
  .idea/gradle.xml
  library/build.gradle
  library/config/application.yml
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/LibraryBoundedContextApplication.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/adapters/in/GameController.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/adapters/out/persistence/GameDataBaseAdapter.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/adapters/out/persistence/GameJpaRepository.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/adapters/out/persistence/library/LibraryDatabaseAdapter.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/core/GameQueryUseCaseImp.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/core/GameUseCaseImp.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/port/in/game/GameUseCase.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/port/out/GameLoadPort.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/port/out/GameSavePort.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/util/Mapper.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/util/notes
  library/src/test/java/GameUseCaseImpTest.java
  library/src/test/java/TestLibraryData.java
Due: build_library, test_library

made test added error handling fix some logic issue .
  common/src/main/java/be/kdg/prog6/common/events/util/AchievementAlreadyEarnedException.java
  common/src/main/java/be/kdg/prog6/common/events/util/AchievementNotFoundException.java
  common/src/main/java/be/kdg/prog6/common/events/util/DatabaseException.java
  common/src/main/java/be/kdg/prog6/common/events/util/DomainException.java
  common/src/main/java/be/kdg/prog6/common/events/util/GameAlreadyMarkedAsFavoriteException.java
  common/src/main/java/be/kdg/prog6/common/events/util/InvalidCategoryException.java
  common/src/main/java/be/kdg/prog6/common/events/util/LibraryNotFoundException.java
  library/config/application.yml
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/adapters/out/persistence/library/LibraryDatabaseAdapter.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/core/GameQueryUseCaseImp.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/domain/Game.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/domain/id/GameId.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/util/Mapper.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/util/game.http
  library/src/test/java/GameUseCaseImpTest.java
Due: none

removed comments
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/adapters/out/persistence/library/LibraryJpaRepository.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/domain/Library.java
  library/src/main/java/be/kdg/prog6/libraryBoundedContext/domain/Player.java
Due: none
